:root {
    --main-color: #b4b4b4;
    --heading-color: #1d1d26;
    --primary-color: #c4f000;
    --lighter-color: #1F1F1F;
    --subtitle-color: #77777d;
    --black-color: #070707;
    --border-color: #c4f00099;
    --button-border: #c4f000;
    --body-background: #070707;
    --white-color: #fff;
}